<footer>
    <div class="container">
        <div class="flex">
            <a href="" title="" class="logo"><img src="./assets/img/logo-2.svg" alt=""></a>
            <div class="box-link">
                <h4>Free Generators</h4>
                <ul>
                    <li><a href="" title="">Free Privacy Policy Generator</a></li>
                    <li><a href="" title="">Free Terms and Conditions Generator</a></li>
                    <li><a href="" title="">Free Cookie Consent</a></li>
                    <li><a href="" title="">Free Cookies Policy Generator</a></li>
                    <li><a href="" title="">Free Return & Refund Policy Generator</a></li>
                    <li><a href="" title="">Free Disclaimer Generator</a></li>
                    <li><a href="" title="">Free EULA Generator</a></li>
                </ul>
            </div>
            <div class="box-link ml-auto">
                <h4>Company</h4>
                <ul>
                    <li><a href="" title="">About Free Privacy Policy</a></li>
                    <li><a href="" title="">Reviews & Testimonials</a></li>
                    <li><a href="" title="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright text-center">© All Rights Reserved. 2023, FreePrivacyPolicy</div>
    </div>
</footer>