<header>
    <nav class="navbar  container">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="" title="Home">Home</a></li>
                <li><a href="" title="Contact Us">Contact Us</a></li>
                <li><a href="" title="FAQs">FAQs</a></li>
                <li><a href="" title="Free Cookie Consent">Free Cookie Consent</a></li>
                <li><a href="" title="Free Privacy Policy Generator">Free Privacy Policy Generator</a></li>
            </ul>
        </div>
    </nav>
</header>
