<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>

<script>
    $(document).ready(function () {
        $('.navbar-toggler').on('click', function () {
            $(this).toggleClass('active');
            $('.navbar-collapse').toggleClass('show');
        });
        $('.navbar-collapse .close').on('click', function () {
            $('.navbar-collapse').removeClass('show');
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $('header').addClass('scroll');
            }else{
                $('header').removeClass('scroll');
            }
        });

        //accordion
        var accordion_content = $('.faq-list .item__content');
        var accordion__header        = $('.faq-list .item__header');
        var accordion_active = $('.faq-list > .active');
        accordion_content.hide();
        accordion_active.find('.item__content').slideToggle();

        accordion__header.click(function (e) {
            e.preventDefault();
            $(this).parent().toggleClass('active');

            if (accordion_content.parent('.active')) {
                $(this).parent().find('.item__content').slideToggle();
            }
            return false;
        });

        AOS.init({
            easing: 'ease-out-back',
            duration: 1000,
            once: true,
            offset: 60,
        });
    });
</script>
</body>
</html>