<main>
    <div class="fpp-s1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="content">
                        <h1 data-aos="fade-up">Generate Your Free Privacy Policy</h1>
                        <p class="txt-lg" data-aos="fade-up" data-aos-delay="300">Our Free Privacy Policy Generator simplifies compliance with CCPA, CPRA, GDPR, and more. Create a legally sound Privacy Policy for your site and app in minutes, meeting Google Analytics and AdSense requirements effortlessly. Protect user data hassle-free!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="generate">
                        <div class="header mb-3">
                            <h3>Generate a Free Privacy Policy</h3>
                            <p class="txt-md">Where Will Your Privacy Policy Be Used?</p>
                        </div>
                        <div class="box-click mb-4">
                            <h4 class="txt-md font-weight-bold mb-4">Click all that apply</h4>
                            <div class="d-flex justify-content-between">
                                <label>
                                    <input type="checkbox" name="">
                                    <span class="checked"></span>
                                    <h5 class="txt-md">Website</h5>
                                    <span>Privacy Policy for Website</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="">
                                    <span class="checked"></span>
                                    <h5 class="txt-md">App</h5>
                                    <span>Privacy Policy for App</span>
                                </label>
                            </div>
                        </div>
                        <div class="continue txt-md font-weight-bold">Continue to step 2 to generate privacy policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fpp-s2 bg-white">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-5">
                    <div class="img-wrapper"><img src="./assets/img/img-s2.svg" alt=""></div>
                </div>
                <div class="col-md-7">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">Free Privacy Policy for Your Site & App</h2>
                        <p class="txt-lg" data-aos="fade-up" data-aos-delay="300">Our Free Privacy Policy Generator is designed with your users' privacy and your legal protection in mind. We provide a range of provisions and sections to ensure compliance with global privacy laws and 3rd-party requirements. Create a Privacy Policy that safeguards your customers' data and limits your liability effortlessly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fpp-s3">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Features of the Free Privacy Policy Generator</h2>
                <p class="txt-lg">Complete our 1-minute questionnaire, get your Privacy Policy instantly, and download it to your PC for compliance with CCPA, CPRA, GDPR, and more.</p>
            </div>
            <div class="features">
                <div class="item" data-aos="fade-up">
                    <div class="icon"><img src="./assets/img/icon-question.svg" alt=""></div>
                    <h4>1-Minute Questionnaire</h4>
                    <p>Our questionnaire takes only minutes. Start, answer our questions and your Privacy Policy is ready.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><img src="./assets/img/icon-lock.svg" alt=""></div>
                    <h4>Compliance</h4>
                    <p>Our Free Privacy Policy Generator can help you comply with the requirements of CCPA, CPRA, GDPR and others.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon"><img src="./assets/img/icon-magic.svg" alt=""></div>
                    <h4>Guidance all the way</h4>
                    <p>Our questionnaire is very easy to use and we're always here to help you if you have any questions. Just email us.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="900">
                    <div class="icon"><img src="./assets/img/icon-download.svg" alt=""></div>
                    <h4>Download to your PC</h4>
                    <p>Once you completed the questionnaire, you're free to download the Privacy Policy to your PC.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fpp-s4 bg-white">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Free Privacy Policy Generator FAQs</h2>
                <p class="txt-lg">Answers to the most popular questions about our Free Privacy Policy Generator.</p>
            </div>
            <div class="faq-list" data-aos="fade-up">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4 class="txt-lg">Is the Privacy Policy Generator free to use?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside txt-lg">
                            <p>Yes, you can choose to include GDPR, CCPA + CPRA text to be added to your Privacy Policy.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4 class="txt-lg">Can I copy-paste the Privacy Policy?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside txt-lg"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4 class="txt-lg">Can I link to the Privacy Policy?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside txt-lg">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4 class="txt-lg">Can I include GDPR or CCPA + CPRA text into my Privacy Policy?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside txt-lg">
                            <p>Yes, you can choose to include GDPR, CCPA + CPRA text to be added to your Privacy Policy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fpp-s5">
        <div class="container">
            <div class="header text-center">
                <h2 class="title">Make your site & app compliant in minutes</h2>
            </div>
            <div class="features">
                <div class="row-1">
                    <div class="item" data-aos="fade-up">
                        <div class="icon"><img src="./assets/img/icon-user.svg" alt=""></div>
                        <h4>Free Privacy Policy Generator</h4>
                        <p>Generate your Privacy Policy for free with our user-friendly Privacy Policy Generator.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon "><img src="./assets/img/icon-check.svg" alt=""></div>
                        <h4>Free Terms and Conditions Generator</h4>
                        <p>Generate comprehensive Terms and Conditions for free with our easy-to-use generator.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="600">
                        <div class="icon"><img src="./assets/img/icon-free.svg" alt=""></div>
                        <h4>Free Cookie Consent</h4>
                        <p>Effortlessly manage website cookies with our Free Cookie Consent solution.</p>
                    </div>
                </div>
                <div class="row-2">
                    <div class="item" data-aos="fade-up">
                        <div class="icon"><img src="./assets/img/icon-cookie.svg" alt=""></div>
                        <h4>Free Cookies Policy Generator</h4>
                        <p>Generate a comprehensive Cookies Policy for your website with our free generator.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><img src="./assets/img/icon-rf.svg" alt=""></div>
                        <h4>Free Return & Refund Policy Generator</h4>
                        <p>Generate hassle-free return and refund policies.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="600">
                        <div class="icon"><img src="./assets/img/icon-if.svg" alt=""></div>
                        <h4>Free Disclaimer Generator</h4>
                        <p>Generate legally sound disclaimers effortlessly with our free and user-friendly Disclaimer Generator.</p>
                    </div>
                    <div class="item" data-aos="fade-up" data-aos-delay="900">
                        <div class="icon"><img src="./assets/img/icon-generator.svg" alt=""></div>
                        <h4>Free EULA Generator</h4>
                        <p>Generate free End-User License Agreements effortlessly with our user-friendly EULA Generator.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>