body{
  background: #f6f7f9;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin txt-1{font-size: 18px; line-height: 24px; color: #fff; font-weight: 700;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; background: #f6f7f9;
  position: fixed; z-index: 91;
  &.scroll{
    box-shadow: 0 1px 3px rgba(#000,.18);
    .navbar{padding: 12px 15px;}
  }
}
.navbar{
  height: 100%;
  display: flex; align-items: center;
  margin: 0 auto; padding: 28px 15px 18px;
  border-radius: 0; border: none; transition: .4s;
  .logo{width: 224px;}
  .navbar-toggler{display: none;}
}
.navbar-collapse{
  padding: 0; margin-left: auto; flex-grow: initial; flex-basis: auto;
  .close{display: none;}
}
.navbar-nav{
  margin: 0; align-items: center; flex-direction: row;
  >*+*{margin-left: 75px;}
  > li > a{display: block; font-size: 16px; font-weight: 600; color: #000; line-height: 24px;}
  > li:nth-child(4), > li:nth-child(5){
    a{font-size: 14px;}
  }
  > li > a:hover{color: #6C63FF;}
}
//main
main{padding-top: 94px}
.fpp-s1{
  padding-bottom: 104px;
  h1{margin-bottom: 44px; font: 900 65px Roboto, sans-serif; color: #3D5278; line-height: 1; letter-spacing: -1px;}
  .content{
    padding-top: 35px;
    p{max-width: 550px;}
  }
  .generate{
    width: 538px; height: 417px; margin-left: auto;
    background: url("#{$img-path}/bg-s1.svg") no-repeat 0 0/contain;
    padding: 78px 28px 0 80px;
    color: #fff;
    position: relative;
    h3,p{font-weight: 700;}
    h3{margin-bottom: 16px; font-size: 27px; letter-spacing: -1px; line-height: 28px;}
    p{color: #fff;}
  }
  .box-click{
    label{
      width: 46%;
      margin-bottom: 0;
      padding: 14px 20px 14px 54px;
      border-radius: 5px;
      background: #97C1FF;
      position: relative;
    }
    input{opacity: 0; position: absolute;}
    h5{margin-bottom: 5px; color: #435981; font-weight: 600;}
    span{font-weight: 500; font-size: 14px; line-height: 24px; color: rgba(#131313,.6);}
    .checked{
      width: 16px; height: 16px;
      display: block;
      border-radius: 2px;
      background: #FFF;
      position: absolute; left: 22px; top: 17px;
    }
    input:checked + .checked{background: #6C63FF url("#{$img-path}/check.png") no-repeat center center;}
  }
  .continue{
    padding: 9px 15px;
    border-radius: 5px;
    background: #FFF;
    color: #3D5278;
  }
}
.fpp-s2{
  padding: 40px 0 120px;
  .col-md-5{padding-right: 10px;}
  .content{
    padding-left: 50px;
    p{max-width: 90%; color: #435981;}
  }
}
.fpp-s3{
  padding: 70px 0 130px;
  .header{
    margin-bottom: 62px;
    h2.title{max-width: 720px; margin: 0 auto 32px;}
    p{max-width: 865px; margin: 0 auto;}
  }
  .features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 38px;
    .item{padding: 18px 13px;}
  }
}
.fpp-s4{
  padding: 60px 0 80px;
  .header{
    margin-bottom: 35px;
    .title{margin: 0 auto 20px; max-width: 720px;}
  }
  .faq-list{
    >*+*{margin-top: 40px;}
    .item{
      padding: 22px 28px;
      border-radius: 10px;
      background: #FFF;
      box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.05);
      color: #435981;
      &__header{padding: 12px 0; cursor: pointer;}
      &__content{padding-bottom: 20px;}
      h4{width: calc(100% - 30px); font-weight: 600;}
      &.active .icon-more{transform: rotate(180deg);}
      .icon-more{
        width: 22px; height: 18px;
        background: url("#{$img-path}/arrow-down.svg") no-repeat;
        margin-left: auto; transition: .2s;
      }
    }
  }
}
.fpp-s5{
  padding: 62px 0 80px;
  .header{
    max-width: 560px; margin: 0 auto;
    h2.title{margin-bottom: 75px;}
  }
  .features{
    h4{margin-bottom: 12px; font-weight: 700;}
    .icon{margin-bottom: 17px;}
  }
  .row-1,.row-2{display: grid;}
  .row-1{
    margin-bottom: 36px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 38px;
    .item{padding: 23px 40px 30px;}
  }
  .row-2{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 34px;
    .item{padding: 18px 12px;}
  }
}
.features{
  .icon{
    width: 63px; height: 63px;
    display: flex; align-items: center; justify-content: center;
    margin: 0 auto 10px; background: #435981; border-radius: 50%;
  }
  .item{
    border-radius: 18px;
    background: #F6F7F9;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    color: #435981;
  }
  h4{margin-bottom: 8px; font-weight: 600; font-size: 16px;}
  p{line-height: 28px;}
}
footer{
  background: #fff;
  padding-top: 54px;
  .logo{margin-right: 17px;}
  h4{margin-bottom: 22px; color: #6C63FF; font-size: 22px; font-weight: 700;}
  .box-link{
    ul > *+*{margin-top: 7px;}
    li{list-style: none;;}
    a{color: #435981; font-size: 16px; line-height: 24px;}
    a:hover{color: #6C63FF;}
  }
  .copyright{
    margin-top: 40px; padding: 20px 0; border-top: 1px solid #EAEAEA;
    color: #435981;
    font-weight: 500;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes rotate {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}

//uikit
.pr{position: relative;}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 20px; line-height: 28px;}
button{
  cursor: pointer; border: none;
  &:focus{outline: none;}
}
.bg-white{background: #fff;}
h2.title{
  margin-bottom: 42px;
  color: #3D5278;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -1px;
}
.header{
  p{color: #435981;}
}

@media (min-width: 1366px) {
  .container{max-width: 1310px;}
}
@media(max-width: 1366px){
  .fpp-s4{
    .faq-list{
      >*+*{margin-top: 20px;}
      .item{padding: 16px 28px;}
    }
  }
}

@media (max-width: 1024px) {
  .navbar{
    width: 100%; padding: 15px; justify-content: flex-start;
    .logo{margin-right: 0; width: 180px;}
    .navbar-toggler{display: block;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: 100%;
    padding: 18px 0 0;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggler{
    display: block;
    width: 20px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 15px;
    span{
      display: block; width: 14px; height: 2px; border-radius: 2px;
      background: #000; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #000; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    z-index: 999;
    span{width: 20px; transform: rotate(45deg);}
    span:after{width: 20px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    margin-top: 55px;
    padding-bottom: 15px;
    >*+*{margin: 22px 0 0;}
    a{text-align: center; font-size: 16px;}
  }

  .fpp-s1{
    .generate{
      max-width: 100%; margin: 0 auto;
      padding: 24px 16px; height: inherit;
      border-radius: 10px;
      background: #6C63FF;
      &::after{
        content: "";
        width: 100%; height: 60%;
        border-radius: 10px;
        background: #DAD7FF;
        position: absolute; top: 0; left: -38px;
        transform: rotate(-12deg);
        z-index: -1;
      }
    }
  }
  .fpp-s3{
    .features{grid-gap: 18px;}
  }
  .fpp-s5{
    .row-1,.row-2{grid-gap: 18px;}
  }
  .container{max-width: 100%;}
}

@media (max-width: 990px) {
  main{padding-top: 75px;}
  .fpp-s1{
    h1{font-size: 55px;}
    .generate{margin-top: 80px;}
  }
  
  h2.title{margin-bottom: 30px; font-size: 30px; line-height: 44px;}
  .txt-lg{font-size: 18px; line-height: 26px;}
  .txt-md{font-size: 16px; line-height: 20px;}
}
@media (max-width: 767px) {
  .fpp-s1{
    padding-bottom: 60px;
    h1{font-size: 41px; line-height: 1.2; margin-bottom: 26px;}
    .generate{
      h3{font-size: 23px;}
    }
    .box-click{
      label{padding: 14px 10px 14px 36px;}
      span{line-height: 20px;}
      .checked{left: 12px;}
    }
  }
  .fpp-s2{
    padding: 40px 0 60px;
    .img-wrapper{
      margin-bottom: 30px;
      img{display: block; margin: 0 auto;}
    }
    .content{
      padding-left: 0;
      p{max-width: 100%;}
    }
  }
  .fpp-s3{
    padding: 60px 0;
    .header{
      margin-bottom: 50px;
      h2.title{margin-bottom: 20px;}
    }
    .features{
      grid-template-columns: repeat(2,1fr);
      .item{padding: 18px 8px;}
    }
  }
  .fpp-s4{
    padding: 60px 0;
    .faq-list{
      >*+*{margin-top: 16px;}
      .item{padding: 10px 16px;}
    }
  }
  .fpp-s5{
    padding: 60px 0;
    .header{
      h2.title{margin-bottom: 50px;}
    }
    .row-1 .item{padding: 18px 12px;}
    .row-2{grid-template-columns: repeat(2,1fr);}
  }
  .features{
    p{line-height: 24px;}
  }
}
@media (max-width: 540px) {
  .fpp-s5{
    .row-1{grid-template-columns: repeat(1,1fr);}
  }
  footer{
    padding-top: 36px;
    h4{font-size: 20px;}
    .logo{width: 100%;}
    .box-link{
      width: 46%;
      a{font-size: 14px;}
    }
  }
}

